:root {
  --red: #b4191c;
  --orange: #ff8421;
  --black: #1a181a;
  --green: #00bf77;
  --pink: #e8607a;
  --dark-blue: #000a46;
  --blue: #36a9e1;

  --primary-color: #1a181a;
}

.page__container {
  display: flex;
  margin: 3rem 2rem 2rem 3rem;
  gap: 3rem;
  justify-content: center;
}

.desafios__container {
  background-color: #fff;
  box-shadow: #9a1b20 1px 1px 2px 1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0.5rem;
  width: 20rem;
  font-family: cursive;

  overflow-y: scroll;
  height: 38.4rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.desafios__container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.desafios__container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.page__container h3:first-of-type {
  font-size: 1.5rem;
  color: #9a1b20;
  padding: 2rem;
  box-shadow: #9a1b20 1px 1px 2px 1px;
  background-color: #f1f1f1;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.page__container div:first-of-type {
  text-align: center;
}

.red {
  --background: #f1423633;
  color: #b4191c;
  border-top: 1px solid #b4191c;
}

.orange {
  --background: #ff842138;
  color: #ff8421;
  border-top: 1px solid #ff8421;
}

.black {
  --background: #6477eb33;
  color: #1a181a;
  border-top: 1px solid #1a181a;
}

.green {
  --background: #00bf771a;
  color: #00bf77;
  border-top: 1px solid #00bf77;
}

/* #E8607A */
.pink {
  --background: #f142361a;
  color: #e8607a;
  border-top: 1px solid #e8607a;
}

.dark__blue {
  /* --background: #fec5034a; */
  --background: #6477eb33;
  color: #000a46;
  border-top: 1px solid #000a46;
}

.blue {
  --background: #28a7452b;
  color: #36a9e1;
  border-top: 1px solid #36a9e1;
}

.game__selector {
  padding: 1rem 1.3rem;
  font-size: 0.95rem;
  display: flex;
  justify-content: flex-start;
  gap: 1.1rem;
  align-items: center;
  margin: 0 5px;
}

.active__game {
  /* background-color: #ff842138; */
  background-color: var(--background);
}

.game__selector:hover,
.game__selector label:hover {
  cursor: pointer;
}

.game__selector:hover {
  background-color: #dce0fd7d;
}

.game__selector:active {
  background-color: #dce0fd7d;
}

.game__selector img {
  width: 55px;
}

.game__selector label {
  font-weight: bold;
}

.messages__wrap {
  box-shadow: #9a1b20 1px 1px 2px 1px;
  border-radius: 15px;
}

.messages {
  background-image: url("./assets//img/Desafios-img/chat-0.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  height: 36rem;
  width: 56rem;
  position: relative;
  overflow-y: scroll;
}

/* width */
.messages::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.messages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.messages::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#background__img {
  opacity: 0.7;
  position: absolute;
  left: 25%;
  top: 25%;
  width: auto;
  height: auto;
}

#current__chat {
  background-color: #f1f1f1;
  padding: 10px 0 10px 22px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#current__chat img {
  width: 3rem;
  /* border-radius: 61px; */
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

#current__chat h5 {
  font-size: 1rem;
}

.message__container {
  width: 45%;
  height: 65px;
  border-radius: 10px;
  margin: 15px;
  padding-left: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.info__message__div {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding-left: 2px;
}

.message__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.message__container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message__container p {
  margin: 0px 10px;
  padding: 9px 17px;
  font-family: monospace;
  border-radius: 26px;
  font-size: 0.8rem;
  line-height: 1;
  min-width: 90%;
  max-width: 90%;
  overflow: hidden;
  word-wrap: break-word;
}

.info__message__div span:first-of-type {
  color: black;
  /* position: relative; */
  /* left: 0.2rem; */
  font-size: 0.75rem;
}

.info__message__div span:last-of-type {
  color: black;
  /* position: relative; */
  /* bottom: 0.8rem; */
  /* left: 3rem; */
  font-size: 0.6rem;
}

.mic {
  position: relative;
  top: 17px;
  right: 6px;
}

.user__message {
  margin-top: 35px;
}

.user__message p {
  background-color: #82ccdd;
}

.monitor__message {
  position: relative;
  left: 410px;
}

.monitor__message p {
  background-color: #78e08f;
}

.player__container {
  width: 80%;
  position: relative;
  top: 8px;
  left: 15px;
}

.player__line {
  border-top: #1c203f solid 2px;
  width: inherit;
}

.player__circle {
  height: 13px;
  width: 13px;
  background-color: #1c203f;
  border-radius: 50%;
  position: relative;
  bottom: 8px;
  left: 0%; /* this is the atribute! */
}

.send__message__area {
  background-color: #f1f1f1;
  padding: 0px 35px 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 4rem;
}

#send__message__input {
  width: 94%;
  border: none;
  height: 56%;
  border-radius: 10px;
  padding-left: 10px;
}

#send__message__input:focus,
#send__message__input:active {
  outline: none;
}

#send__icon {
  width: 30px;
  height: 30px;
}

#send__icon:hover {
  cursor: pointer;
}

#msgSettings {
  display: none;
  position: absolute;
  left: 31%;
  border: solid 1px #9a1b20;
  border-radius: 10px;
  box-shadow: 2px 3px 4px #cfc3c3;
  padding: 30px;
}

#msgSettings img {
  width: 100px;
  border-radius: 50%;
}

#msgSettings {
  color: #9a1b20;
  font-weight: 600;
}

#msgSettings input {
  padding: 10px;
}

#msgSettings input[type="radio"] {
  display: none;
}

#msgSettings label {
  cursor: pointer;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 50%;
}

.avatar:hover {
  border: 2px solid #9a1b20;
  transform: scale(1.1);
}

#msgSettings input[type="radio"]:checked + label {
  border: 2px solid #9a1b20;
  transform: scale(1.1);
  padding: 3px;
}

#msgSettings label img {
  display: block;
  max-width: 80px;
  max-height: 80px;
}

#msgSettings h4 {
  color: #9a1b20;
  margin-bottom: 15px;
}

#msgSettings div {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

#send__message__btn {
  margin-left: 5px;
  background-color: #9a1b20;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.chat__form__btn {
  margin-left: 5px;
  color: #9a1b20;
  border: 1px solid #9a1b20;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

#user__message {
  width: 100%;
}

.invalid__field {
  border: red 1px solid;
  box-shadow: red 2px 1px 5px;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 7px;
}

.g-recaptcha {
  width: fit-content;
  position: relative;
  left: 22%;
}

.selected__message {
  border: solid 1px var(--blue);
  box-shadow: 1px 1px 4px var(--blue);
  width: 60%;
  height: fit-content;
  padding: 15px;
  background-color: #fff;
}

#remove__message {
  display: none;
  justify-content: center;
  border-radius: 10px;
  gap: 6px;
  width: 30%;
  align-items: center;
  background-color: #ff3f5b;
  margin-top: 20px;
  padding: 2px;
}

#remove__message:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#remove__message img {
  width: 29px;
  height: min-content;
}

#remove__message span {
  color: white;
}

.admin__message__container:hover {
  cursor: pointer;
  transform: scale(1.05);
}
